/.idea/
/cloud-admin/target/
/cloud-auth/target/
/cloud-common/target/
/cloud-demo/target/
/cloud-gateway/target/
/cloud-generator/target/
/cloud-monitor/target/
/cloud-portal/target/
/cloud-search/target/
